# For and While Loops

### For loops

Suppose you want to print name of all guests coming to your party

In [2]:
guests = ["Jack", "Ann", "Susie", "Adam"]

In [4]:
print("Guest name:", guests[0])
print("Guest name:", guests[1])
print("Guest name:", guests[2])
print("Guest name:", guests[3])

Guest name: Jack
Guest name: Ann
Guest name: Susie
Guest name: Adam

In [6]:
# We can use loops to repeat the same line of code as often as we want
for guest in guests:
    print("Guest name:", guest)

Guest name: Jack
Guest name: Ann
Guest name: Susie
Guest name: Adam

In [7]:
# Only the indented code is repeated!
for guest in guests:
    print("Guest name:", guest)
print("All guest names have been printed.")

Guest name: Jack
Guest name: Ann
Guest name: Susie
Guest name: Adam
All guest names have been printed.

In [9]:
# You can use the loop number using `enumerate`
for i, guest in enumerate(guests):
    print("Guest number", i, guest)
print("All guest names have been printed.")

Guest number 0 Jack
Guest number 1 Ann
Guest number 2 Susie
Guest number 3 Adam
All guest names have been printed.

Let's try another example...

Suppose you have a list:

In [1]:
leap_years_20C = list(range(1904,2000,4))

And you want to do something to every item in the list:

In [4]:
# For example, say we want to print every item on a different line:

print(leap_years_20C[0])
print(leap_years_20C[1])
print(leap_years_20C[2])
print(leap_years_20C[3])
print(leap_years_20C[4])
print(leap_years_20C[5])
print(leap_years_20C[6])
print(leap_years_20C[7])
print(leap_years_20C[8])
print(leap_years_20C[9])
print(leap_years_20C[10])
print(leap_years_20C[11])
print(leap_years_20C[12])
print(leap_years_20C[13])
print(leap_years_20C[14])
print(leap_years_20C[15])
print(leap_years_20C[16])
print(leap_years_20C[17])
print(leap_years_20C[18])
print(leap_years_20C[19])
print(leap_years_20C[20])
print(leap_years_20C[21])
print(leap_years_20C[22])
print(leap_years_20C[23])

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996

In [5]:
# A for loop gives you a more efficient way of doing this:

for year in leap_years_20C:
    print(year)

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996

Suppose we want to create a new list containing the cumulative totals of the original list:

In [7]:
# Create an empty list and a variable to track the cumulative total:
list2 = []
total = 0

# Run through the original list using a loop:
for i in leap_years_20C:
    
    # Update the total:
    total = total + i
    
    # Add the current total to the new list:
    list2.append(total)
    
# Check the result by printing the first few values:
print(list2[:5])

[1904, 3812, 5724, 7640, 9560]

What if you want to do something a set number of times?

In [6]:
for i in range(10):
    print("Hooray!")

Hooray!
Hooray!
Hooray!
Hooray!
Hooray!
Hooray!
Hooray!
Hooray!
Hooray!
Hooray!

You can put loops inside loops:

In [18]:
for i in range(1,11):
    print("The", i, "times table")
    for j in range(1,11):
        print(i, "times", j, "=", i*j)
    print() # This adds a blank line

The 1 times table
1 times 1 = 1
1 times 2 = 2
1 times 3 = 3
1 times 4 = 4
1 times 5 = 5
1 times 6 = 6
1 times 7 = 7
1 times 8 = 8
1 times 9 = 9
1 times 10 = 10

The 2 times table
2 times 1 = 2
2 times 2 = 4
2 times 3 = 6
2 times 4 = 8
2 times 5 = 10
2 times 6 = 12
2 times 7 = 14
2 times 8 = 16
2 times 9 = 18
2 times 10 = 20

The 3 times table
3 times 1 = 3
3 times 2 = 6
3 times 3 = 9
3 times 4 = 12
3 times 5 = 15
3 times 6 = 18
3 times 7 = 21
3 times 8 = 24
3 times 9 = 27
3 times 10 = 30

The 4 times table
4 times 1 = 4
4 times 2 = 8
4 times 3 = 12
4 times 4 = 16
4 times 5 = 20
4 times 6 = 24
4 times 7 = 28
4 times 8 = 32
4 times 9 = 36
4 times 10 = 40

The 5 times table
5 times 1 = 5
5 times 2 = 10
5 times 3 = 15
5 times 4 = 20
5 times 5 = 25
5 times 6 = 30
5 times 7 = 35
5 times 8 = 40
5 times 9 = 45
5 times 10 = 50

The 6 times table
6 times 1 = 6
6 times 2 = 12
6 times 3 = 18
6 times 4 = 24
6 times 5 = 30
6 times 6 = 36
6 times 7 = 42
6 times 8 = 48
6 times 9 = 54
6 times 10 = 60

The 7 times table
7 times 1 = 7
7 times 2 = 14
7 times 3 = 21
7 times 4 = 28
7 times 5 = 35
7 times 6 = 42
7 times 7 = 49
7 times 8 = 56
7 times 9 = 63
7 times 10 = 70

The 8 times table
8 times 1 = 8
8 times 2 = 16
8 times 3 = 24
8 times 4 = 32
8 times 5 = 40
8 times 6 = 48
8 times 7 = 56
8 times 8 = 64
8 times 9 = 72
8 times 10 = 80

The 9 times table
9 times 1 = 9
9 times 2 = 18
9 times 3 = 27
9 times 4 = 36
9 times 5 = 45
9 times 6 = 54
9 times 7 = 63
9 times 8 = 72
9 times 9 = 81
9 times 10 = 90

The 10 times table
10 times 1 = 10
10 times 2 = 20
10 times 3 = 30
10 times 4 = 40
10 times 5 = 50
10 times 6 = 60
10 times 7 = 70
10 times 8 = 80
10 times 9 = 90
10 times 10 = 100

### While loops

Maybe you want to do something until a certain condition is met:

In [11]:
# Ask the user until you get the right answer

answer = "0"

while answer != "4":
    answer = input("What is 2 + 2 ?")
print("Yes! 2 + 2 = 4")

What is 2 + 2 ?3
What is 2 + 2 ?4
Yes ! 2 + 2 = 4

In [19]:
# Print all the powers of 2 that are less than 1000:

value = 2

while value < 1000:
    print(value)
    value = value*2

2
4
8
16
32
64
128
256
512

### More Advanced...

You can also create lists directly using loops (these are called 'comprehensions'):

In [21]:
# Create a list of the first 10 even numbers:

even_numbers = [2*i for i in range(1,10)]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [30]:
# Create a list of the letters in your name (in lower case):

letters_in_my_name = [letter.lower() for letter in 'Thomas']
print(letters_in_my_name)

['t', 'h', 'o', 'm', 'a', 's']